.flex-wrapper{
    display: flex;
    justify-content: center;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    align-items: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

.about-title,
.skills-title {
    font-size: clamp(1.5rem, 2vw, 8rem);
    font-family: var(--about-title-font);
    color:black;
    
}

.about-text {
    text-align: center;
    font-family: var(--about-text-font);
}



.logo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    

    
}

.logo-item {
    max-width: 150px; /* Set a fixed width for each grid item */
    height: 100px; /* Set a fixed height for each grid item (optional) */
    overflow: hidden; /* Hide any overflow */
    display: flex;
    align-items: center;
}

.logo-image {
    width: 100%;
}