


.back-top-btn {
    position: fixed;
    bottom: 0%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease-in, visibility 0.4s ease-in; 
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    margin: 10px;
}
   


.back-top-btn.show {
    visibility: visible;
    opacity: 1;
}

.fa-regular {
    padding-right: 2px;
   
}