.header-flex {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: white;
    align-items: center;
}


#logo-section {
    padding-left: 50px;
}

#message-section {
    padding-right: 50px;
    font-family: var(--header-message-font);
    font-size: clamp(0.5rem, 5vw, 1rem);
    }

.title-text {
    font-size: clamp(2rem, 5vw, 3rem);
    font-family: var(--header-logo-font); 
}

.subtitle-text {
    font-size: clamp(1rem, 1vw, 3rem);
    font-family: var(--header-logo-subtitle-font);
}



@media screen and (max-width: 917px) {
    .header-flex {
        flex-direction: column;
        align-items: center;
    }

    #logo-section {
        padding-left: 0px;
    }
    
    #message-section {
        padding: 0px;
    }

    .centre-text {
        text-align: center;
    }
}