.header-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: opacity 0.3s ease;
}


.header-flex {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    background-color: white;
    align-items: center;
    background-color: var(--header-bg-color);
}


#logo-section {
    padding: 0px 0px 10px 50px;
}

#message-section {
    padding-right: 50px;
    font-family: var(--header-message-font);
    font-size: clamp(0.5rem, 5vw, 1rem);
    }

.title-text {
    font-size: clamp(2rem, 5vw, 3rem);
    font-family: var(--header-logo-font); 
    color: var(--header-title-color);
}

.subtitle-text {
    font-size: clamp(1rem, 1vw, 3rem);
    font-family: var(--header-logo-subtitle-font);
}



@media screen and (max-width: 917px) {
    .header-flex {
        flex-direction: column;
        align-items: center;
        
    }

    #message-section {
        display: none;
        }

    #logo-section {
        padding-left: 0px;
    }
    
    #message-section {
        padding: 0px;
        text-align: center;
    }

    .centre-text {
        text-align: center;
    }
}