


.hero-flex {
    display: flex;
    padding: 5% 20% 5% 20%;
    background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5)),
    url('https://media.istockphoto.com/id/1085940992/vector/binary-matrix-code-computer-data-stream-digital-security-codes-and-gray-coding-information.jpg?s=612x612&w=0&k=20&c=Vdg9ICIDQPPAem9ZMJcvK-pIaaoYtxa1Kwv_KA0AWQc=');
    
    border-bottom: 1px solid;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); 
    transition: max-height 2s ease, opacity 0.8s ease; /* Smooth transition */
    max-height: 1000px; /* Set a max height larger than the content */
    opacity: 1; /* Ensure it starts fully visible */
}

.hero-flex.collapse {
    max-height: 0; /* Collapse to 0 */
    opacity: 0; /* Fade out */
}



.line {
    border-left: 1px solid black;
    height: auto; /* Height for the vertical line */
    margin:0px 100px 0px 100px;
}

.hero-title {
    font-size: clamp(1rem, 6vw, 30rem);
    flex-shrink: 1;
    font-family: var(--hero-title-font);
    color: var(--hero-title-color);
   }

.hero-message{
    align-self:flex-end;
    max-height: 1000px;
    transition: max-height 2s ease, opacity 0.1s ease; /* Smooth transition */
}

.hero-message.collapse {
    max-height: 0;
}

.hero-message-text {
    font-family: var(--hero-message-font);
    font-size: clamp(0.8rem, 1vw, 5rem);
    color: var(--hero-message-color);

}

.socials-flex {
    display: flex;
    margin-bottom: 5%;
    max-height: 1000px;
    transition: max-height 2s ease, opacity 0.1s ease; 
}

.socials-flex.collapse {
    max-height: 0;
    pointer-events: none;
}

.socials-item {
    flex: 1; 
    flex-grow: 0;
   
}

.socials-icons {
    flex: 2;
    flex-grow: 0;
    display: flex;
    gap: 2px;
    align-items: center;
}

.hero-btn {
    background-color: rgb(187, 187, 239);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.socials-arrow {
    align-self: center;
    margin-right: 10px;
    margin-left: 2px;
}

.social-icon {
    font-size: 2rem;
}

.click {
    cursor: pointer;
}
    
    
@media screen and (max-width: 1363px) {

    .hero-flex {
        flex-direction: column;
        align-items: center;
        gap:10px;
    }

   .line {
        border-left: none; /* Remove the vertical line */
        border-top: 1px solid GREY; /* Add the horizontal line */
        width: 100%; /* Width for the horizontal line */
        height: 1px; /* Set height to 0 */
    }


    .hero-title{
        text-align: center;

       
    }
    .hero-message {
        text-align: center;
        
        
    }

    .socials-flex {
        justify-content: space-between;
    }

}

@media screen and (max-width: 500px) {
    
    .hero-flex {
        padding: 5% 5% 5% 5%;
    }

    .hero-message-text {
        display: none;
    }

    .socials-flex {
        justify-content: center;}

    .hero-message{
            align-self:center;
        }

    .social-icon {
            font-size: 1rem;
        }
}