.hero-flex {
    display: flex;
    padding: 5% 20% 5% 20%;
    
}

.line {
    border-left: 2px solid black;
    height: auto; /* Height for the vertical line */
    margin:0px 100px 0px 100px;
}

.hero-title {
    font-size: clamp(1rem, 6vw, 30rem);
    flex-shrink: 1;
    font-family: var(--hero-title-font);
   }

.hero-message{
    align-self:flex-end;
    font-family: var(--hero-title-font);
}

.socials-flex {
    display: flex;
    margin-bottom: 5%;
}

.socials-item {
    flex: 1; 
    flex-grow: 0;
   
}

.socials-icons {
    flex: 2;
    flex-grow: 0;
    display: flex;
    gap: 2px;
    align-items: center;
}

.hero-btn {
    background-color: rgb(187, 187, 239);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.socials-arrow {
    align-self: center;
    margin-right: 10px;
    margin-left: 2px;
}
    
    



@media screen and (max-width: 1363px) {

    .hero-flex {
        flex-direction: column;
        align-items: center;
        gap:10px;
    }

   .line {
        border-left: none; /* Remove the vertical line */
        border-top: 2px solid black; /* Add the horizontal line */
        width: 100%; /* Width for the horizontal line */
        height: 1px; /* Set height to 0 */
    }


    .hero-title{
        text-align: center;

       
    }
    .hero-message {
        text-align: center;
    }

    .socials-flex {
        justify-content: space-between;
    }
    
}

@media screen and (max-width: 500px) {
    
    .hero-flex {
        padding: 5% 5% 5% 5%;
    }
    
}