.hero-flex {
    display: flex;
    padding: 5% 20% 5% 20%;
    
}

.line {
    border-left: 2px solid black;
    height: auto; /* Height for the vertical line */
    margin:0px 100px 0px 100px;
}

.hero-title {
    font-size: clamp(1rem, 6vw, 30rem);
    flex-shrink: 1;
    font-family: var(--hero-title-font);
   }

.hero-message{
    align-self:flex-end;
}

.socials-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}


@media screen and (max-width: 1363px) {

    .hero-flex {
        
        flex-direction: column;
        align-items: center;
        gap:10px;
    }

   .line {
        border-left: none; /* Remove the vertical line */
        border-top: 2px solid black; /* Add the horizontal line */
        width: 100%; /* Width for the horizontal line */
        height: 1px; /* Set height to 0 */
    }


    .hero-title{
        text-align: center;
    }
    .hero-message {
        text-align: center;
    }
}