.projects-flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding-top: 5rem;
    margin: auto;
    width : 60%
}

.main-projects-title {
    font-size: clamp(6rem, 7vw, 10rem);/* Adjust as needed */
    font-family: var(--projects-title-font);
    color: var(--projects-title-color);
    padding-bottom: 10%;
   
}



.projects-items-flex {
    display: flex;
    justify-content: center;
    padding-bottom:  100px;
    gap:2px;
    position: relative;
}

.description-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
   
    background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6)),
    url('https://media.istockphoto.com/id/1085940992/vector/binary-matrix-code-computer-data-stream-digital-security-codes-and-gray-coding-information.jpg?s=612x612&w=0&k=20&c=Vdg9ICIDQPPAem9ZMJcvK-pIaaoYtxa1Kwv_KA0AWQc=');
}

.projects-title {
    font-size: clamp(2rem, 2vw, 4rem);
    color: black;
}


.projects-image {
    border-radius: 3%;
    object-fit: cover;
    width: 20px;
    max-height: 200px;
    border-radius: 10%;
}

.projects-description {
    font-family: var(--projects-description-font);
    padding: 20px;
}

@media screen and (max-width: 917px) {
    .projects-flex-wrapper {
       width: 90%;
    }
    
    
    .projects-items-flex {
        height: 100%;
    }

    .description-flex {
        gap:20px;
    }

    .projects-description {
        padding: 10px;
    }

    .projects-image {
       display: none;
    }

   
}