
/* Global styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Varibles */
:root {
    /* fonts */
    --header-logo-font: "Luckiest Guy", cursive;
    --header-logo-subtitle-font: "Julius Sans One", sans-serif;
    --header-message-font: "Lexend", sans-serif;
    
    --hero-title-font: "Righteous", sans-serif;
    --hero-message-font: "ABeeZee", sans-serif;

    --about-title-font:"Righteous", sans-serif;
    --about-text-font: "Raleway", sans-serif;

    --projects-title-font:"Bebas Neue", sans-serif;

    --projects-description-font:"Raleway", sans-serif;

    --detail-description-font: "Raleway", sans-serif;
    --detail-main-font: "Raleway", sans-serif;

    /* color */
    --header-title-color: HSL(283, 78%, 44%);
    --header-bg-color: white;
    --hero-bg-color: linear-gradient(to bottom, white, HSL(283, 30%, 84%));
    --hero-title-color: black;
    --hero-message-color: black;

    --projects-title-color: black;
    
}



body {
    max-width: 100vw;
    height: 100%;
    margin: 0;
    position: relative;
    overflow: scroll;
   
}

