
/* Global styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Varibles */
:root {
    /* fonts */
    --header-logo-font: "Luckiest Guy", cursive;
    --header-logo-subtitle-font: "Julius Sans One", sans-serif;
    --header-message-font: "Lexend", sans-serif;
    
    --hero-title-font: "Righteous", sans-serif;
    --hero-message-font: "ABeeZee", sans-serif;

    --about-title-font:"Righteous", sans-serif;
    --about-text-font: "Raleway", sans-serif;

    --projects-title-font:"Bebas Neue", sans-serif;

    --projects-description-font:"Raleway", sans-serif;

    --detail-description-font: "Raleway", sans-serif;
    --detail-main-font: "Raleway", sans-serif;

    --footer-font: "Raleway", sans-serif;

    /* color */
    --header-title-color: HSL(283, 78%, 44%);
    --header-bg-color: white;
    --hero-bg-color: linear-gradient(to bottom, white, HSL(283, 30%, 84%));
    --hero-title-color: black;
    --hero-message-color: black;

    --projects-title-color: black;

    --footer-bg-color: hsla(275, 100%, 98%, 1);
    --footer-text-color: black;
    
}



body {
    max-width: 100vw;
    height: 100%;
    margin: 0;
    position: relative;
    overflow: scroll;
   
}

.loader-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    width: 100vw;            
    position: fixed;        
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 999;            
    opacity: 0;
    visibility: hidden; 
    transition: opacity 3s ease-in;
}

.loader-wrapper.active {
   opacity: 1; 
   visibility: visible; 
}

